.about-relation {
  position: relative;
}

.about-hero {
  height: 50vh;

  position: relative;
}
.about-hero-info {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 25%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}
.about-hero-info h1 {
  font-size: clamp(23px, 2vw, 35px);
}
.about-hero-info p {
  font-size: clamp(18px, 1vw, 30px);
}
.about-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: blur(4px);
}

.about-relation .team-img {
  position: absolute;
  border-radius: 5px;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media (max-width: 1024px) {
  .about-relation .team-img {
    width: 80%;
  }
}

.wwa,
.wwd,
.wcs,
.hwd,
.oa,
.git {
  margin: 10rem 0;
}
@media (min-width: 1024px) {
  .wwa {
    margin-top: 17rem;
  }
}

.section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: auto;
  width: 90%;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  /* border: 1px solid red; */
}
.container-1,
.container-2,
.container-3 {
  text-align: center;
}

.container-1 p,
.container-2 p,
.container-3 p {
  text-align: justify;
  color: var(--medium-gray);
}
.container-1 img,
.container-2 img,
.container-3 img {
  width: 15%;
}
.container-1 h3,
.container-2 h3,
.container-3 h3 {
  text-align: center;
  color: var(--body-font-color);
}

@media (min-width: 1024px) {
  .container-1 img,
  .container-2 img,
  .container-3 img {
    width: 20%;
  }
  .container-1,
  .container-2,
  .container-3 {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .section__wrapper {
    width: 60%;
  }

  .wwa__description,
  .wwd__description,
  .wcs__description,
  .hwd__description,
  .oa__description,
  .git__description {
    width: 50%;
  }
}

.wcs h1,
.hwd h1,
.oa h1,
.git h1 {
  color: var(--body-font-color);
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: clamp(22px, 2vw, 60px);
}

.git p{
  color: var(--medium-gray);
  text-align: center;
}

.wwa__description h2,
.wwd__description h2,
.wcs__description h2,
.hwd__description h2,
.oa__description h2,
.git__description h2 {
  color: var(--body-font-color);
  margin-bottom: 0.5rem;
}

.wwa__description p,
.wwd__description p,
.wcs__description p,
.hwd__description p,
.oa__description p,
.git__description p {
  color: var(--medium-gray);
  font-size: clamp(17px, 1vw, 36px);
  /* margin-bottom: 1rem; */
}

.wwa__img,
.wwd__img {
  flex: 1;
}

.wwa__img img,
.wwd__img img {
  width: 100%;
}

.differ-container {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}
.oa-icon,
.differ-container .differ-icon {
  background-color: #1c7ce2;
  padding: 0.5rem;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.differ-container h3{
  color: var(--body-font-color);
}

.oa-container {
  flex: 1 ;
  border: 1px solid rgba(93, 93, 93, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.oa-icon {
  background-color: #f0ecfa;
  padding: 1.5rem 1rem;
  margin: 1rem  0;
}

.oa-container h3 {
  color: var(--body-font-color);
  font-size: clamp(18px, 1vw+1rem, 45px);
}

.git-container{
  text-align: center;
  flex: 1;
}

.git-container img{
  width: 15%;
}
.git-container h4{
  color: var(--body-font-color);
}
.git-container p {
  color: var(--medium-gray);
}

.git-container a{
  color: #1c7ce2;
}

.git__cta{
  text-align: center;
  margin: 4rem 0;
}

.git__cta h2{
  font-size: clamp(18px, 2vw, 50px);
  color:var(--body-font-color);
}

.git__cta p {
  margin-bottom: 2rem;
}
.git__cta-btn{
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color: #1c7ce2;
  font-family: 'Poppins';
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.git__cta-btn:active{
  transform: scale(.9);
}