.course-detail {
  /* border: 1px solid green; */
  /* display: grid; */
  place-content: center;
  height: 80vh;
  background: linear-gradient(
      to right,
      rgba(0, 34, 85, 0.8),
      rgba(40, 149, 226, 0.1)
    ),
    url("/src/assets/career-img/analyst.jpg") no-repeat center center fixed;
  background-size: cover; /* Adjusts to fit the container while preserving aspect ratio */
}

.course-detail__wrapper {
  width: 90%;
  margin-inline: auto;
  /* border: 1px solid red; */
  padding: 6rem 0;
}
.course_description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 4rem;
}

@media (min-width: 800px) {
  .course_description {
    width: 60%;
  }
}
.course_description h1 {
  font-size: clamp(30px, 4.5vw, 65px);
}
.course_description p {
  font-size: clamp(20px, 1vw, 45px);
}

.course-detail-action-btns {
  /* margin-top: 3rem; */
  /* padding: 1rem 0; */
  /* border: 1px solid green; */
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 150px 150px 1fr;
}

.language,
.rating {
  display: flex;
  align-items: center;
  color: white;
}

.language img,
.rating img {
  width: 25%;
  margin-right: 1rem;
}

.course-detail-action-btns .enroll-action-btn {
  place-self: end;
}

@media (max-width: 425px) {
  .language img,
  .rating img {
    width: 15%;
  }
  .language,
  .rating {
    margin-bottom: 1.5rem;
  }
  .course-detail-action-btns {
    grid-template-columns: 250px;
  }
  .course-detail-action-btns .enroll-action-btn {
    place-self: start;
  }
}
.enroll-action-btn button {
  background-color: #1c7ce2;
  color: white;
  font-weight: 500;
  font-size: clamp(20px, 0.8vw, 35px);
  border: none;
  padding: 1rem 2.5rem;
  font-family: "Poppins";
  border-radius: 0.3rem;
}

@media (min-width: 1024px) {
  .course-detail__wrapper {
    width: 75%;
  }
}

.wywl {
  margin: 5rem 0;
}
.wywl h2 {
  text-align: center;
  color: var(--body-font-color);
  margin-bottom: 1rem;
}
.wywl .wywl-wrapper {
  width: 85%;
  margin-inline: auto;
}

.wywl .wywl-wrapper ul li {
  text-align: justify;
  margin-bottom: 0.6rem;
}

@media (min-width: 1024px) {
  .wywl .wywl-wrapper {
    width: 60%;
  }
}

.blue-line {
  width: 90%;
  margin-inline: auto;
  border: 1px solid #1c7ce2;
  color: #1c7ce2;
}

@media (min-width: 1024px) {
  .blue-line {
    width: 70%;
  }
}
.gains {
  margin: 4rem 0;
}
.icon-box {
  padding: 0.5rem;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  background-color: #1c7ce2;
  margin-right: 2rem;
}
.sywa,
.jrycaf {
  display: flex;
  align-items: top;
  margin-bottom: 2rem;
}

.sywa__content h4,
.jrycaf__content h4 {
  margin-bottom: 0.5rem;
}

.section_wrapper {
  width: 85%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .section_wrapper {
    width: 60%;
  }
}

.get-started {
  margin: 4rem 0;
}

.get-started-btn {
  background-color: #1c7ce2;
  color: white;
  font-family: "Poppins";
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.get-started__wrapper {
  width: 85%;
  margin-inline: auto;
  text-align: center;
}
.get-started__wrapper h2 {
  color: var(--body-font-color);
}

.get-started__wrapper p {
  margin: 0.7rem 0;
  color: var(--medium-gray);
}

@media (min-width: 1024px) {
  .get-started__wrapper {
    width: 60%;
  }
}
