.hero-container {
  position: relative;
  width: 100%;
  /* height: 95svh; */
  overflow: hidden;
}

@media (min-width: 1440px) {
  .hero-container {
    height: 95vh;
  }
}
.hero-bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 768px) {
  .hero-bg-img {
    object-position: 50%;
  }
}

.overlay {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(0, 34, 85, 0.9),
    rgba(40, 149, 226, 0.3)
  );
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  z-index: -1;
}

#title-1,
#subtitle-1 {
  color: White;
}
.hero__content {
  width: 95%;
  margin-inline: auto;
  /* border: 1px solid red; */
  text-align: center;
}

@media (min-width: 800px) {
  .hero__content {
    margin-top: 20%;
  }
}
@media (max-width: 768px) {
  .hero__content {
    margin-top: 30%;
  }
}
@media (max-width: 425px) {
  .hero__content {
    margin-top: 70%;
  }
}

.hero__content h1 {
  font-size: clamp(25px, 4vw, 70px);
}
.hero__content p {
  font-size: clamp(20px, 2.5vw, 25px);
}
.hero__cta-btns {
  margin-top: 1rem;
}

.hero__cta-btns button {
  position: relative;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: clamp(16px, 1vw, 30px);
}
@media (min-width: 1024px) {
  .hero__cta-btns button {
    padding: 1.2rem 2.5rem;
  }
}
.hero__cta-btns .get-started {
  margin-top: 1.5rem;
  margin-right: 2rem;
  background-color: #1358db;
  color: white;
  cursor: pointer;
  position: relative;
}

.explore-header {
  margin: 3rem 0;
}
.explore-paths {
  margin: 6rem 0;
  position: relative;
  /* border: 1px solid red; */
}
.more-paths {
  display: none;
}
@media (min-width: 1024px) {
  .more-paths {
    position: absolute;
    right: 5rem;
    top: 60%;
    transform: translateY(0=-50%, 50%);
    height: 50px;
    width: 50px;
    background-color: #dae1ef;
    clip-path: circle();
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .more-paths img {
    width: 50%;
  }
  .more-paths:hover {
    transform: scale(0.8);
  }
}

.wrapper {
  width: 95%;
  margin-inline: auto;
  text-align: center;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .explore-paths__cards {
    flex-wrap: wrap;
  }
  .explore-path__card {
    margin-left: 0;
  }
}
.wrapper h2 {
  color: var(--body-font-color);
  font-size: clamp(25px, 2vw, 60px);
}

.wrapper p {
  color: var(--medium-gray);
}
.explore-paths__cards {
  /* margin: 3rem 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: top;
}

.explore-path__card {
  margin: 1.5rem;
}

.explore-path__card a {
  font-size: clamp(10px, 0.8rem, 25px);
  background-color: #dae1ef;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
}

.explore-path__card p {
  margin: 1rem 0;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px rgba(96, 96, 96, 0.2);
  color: #01204f;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.09);
}

@media (max-width: 768px) {
  .global-img {
    display: none;
  }
}

.wwd__content {
  margin: 8rem 0;
}
.wwd__content h1 {
  color: var(--body-font-color);
  text-align: center;
  font-size: clamp(25px, 2vw, 80px);
}

.wwd-d-flex {
  display: grid;
  grid-template-columns: 1fr;
  width: 75%;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-inline: auto;
  gap: 2rem; /* Optional: Adds space between cards */
}
@media (min-width: 1024px) {
  .wwd-d-flex {
    grid-template-columns: repeat(3, 1fr);
  }
}

.difference-card {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 2px 3px 5px 5px rgba(96, 96, 96, 0.4);
}
@media (max-width: 768px) {
  .wwd-d-flex {
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
  }
}

.difference-card h1 {
  font-size: clamp(20px, 2vw, 50px);
  text-align: left;
  margin-top: 1rem;
}

.difference-card p {
  color: var(--medium-gray);
  text-align: left;
  font-size: clamp(13px, 0.9vw, 20px);
}

.alumni {
  /* border: 1px solid green; */
  margin: 6rem 0;
}

@media (max-width: 425px) {
  .alumni {
    margin: 10rem 0;
  }
}

.testimonial-section {
  width: 90%;
  margin-inline: auto;
  /* border: 1px solid red; */
}

.testimonial-section h2 {
  color: var(--body-font-color);
  text-align: center;
  font-size: clamp(25px, 2vw, 80px);
}

@media (min-width: 1024px) {
  .testimonial-section {
    width: 80%;
  }
}
.testimonial-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.testimonial-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}

.testimonial-item.active {
  opacity: 1;
}
.testimonial-content {
  display: flex;
  width: 100%;
  align-items: center;
  margin-inline: auto;
  transition: transform 0.5s ease-in-out;
}

.testimonial-content.slide-left-enter {
  transform: translateX(100%);
}

.testimonial-content.slide-left-enter-active {
  transform: translateX(0%);
}

.testimonial-content.slide-left-exit {
  transform: translateX(0%);
}

.testimonial-content.slide-left-exit-active {
  transform: translateX(-100%);
}

.testimonial-content.slide-right-enter {
  transform: translateX(-100%);
}

.testimonial-content.slide-right-enter-active {
  transform: translateX(0%);
}

.testimonial-content.slide-right-exit {
  transform: translateX(0%);
}

.testimonial-content.slide-right-exit-active {
  transform: translateX(100%);
}
@media (max-width: 768px) {
  .testimonial-content {
    flex-direction: column;
  }
}
.testimonial-text {
  margin-right: 80px;
  width: 100%;
}
.testimonial-text > * {
  /* border: 2px solid grey; */
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .testimonial-text {
    margin-right: 0;
    width: 100%;
    /* text-align: center; */
  }
  .testimonial-text > * {
    margin-bottom: 1.5rem;
  }
}

.testimonial-image {
  width: 90%;
  height: 450px;
}
.testimonial-image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: top;
}
.testimonial-nav {
  border: none;
  background-color: transparent;
  /* margin: 2rem 0; */
}

.testimonial-nav.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.testimonial-nav img {
  width: 70%;
}

.cta__section {
  padding: 7rem 0;
  position: relative;
  background: url("../../../src/assets/svg/ctaAngled.svg") no-repeat center
    center;
  background-size: cover;
}
.cta__section_content {
  padding: 5rem 0;
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .cta__section_content {
    width: 95%;
  }
  .text-section {
    width: 50%;
  }
}
.cta__section_content .text-section {
  color: white;
}

.cta__section_content .text-section h2 {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .cta__section_content {
    width: 90%;
    margin-inline: auto;
    flex-direction: column;
  }
  .cta__section_content .form-section {
    width: 100%;
    margin-top: 3rem;
  }
  .text-section {
    width: 80%;
  }
}

.form-section {
  background-color: white;
  border-radius: 5px;
  padding: 3rem 2rem;
  width: 50%;
  max-width: 550px;
}

.form-section form input,
.form-section form select {
  padding: 1rem;
  font-family: "Poppins";
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
}
.form-section form input:focus {
  outline: none;
}
.form-section form .name {
  display: flex;
  gap: 1rem;
}

.cta-btn {
  background-color: var(--body-font-color);
  color: white;
  padding: 0.75em;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Poppins";
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
