header {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  box-shadow: 2px 5px 5px rgba(96, 96, 96, 0.3);
  padding: 15px 0;
  max-width: 100%;
  width: 2000px;
  margin-inline: auto;
  display: flex;
  align-items: center;
}
