nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  /* border: 1px solid purple; */
  width: 13%;
}

.logo img {
  width: 100%;
}
nav .nav-items {
  display: flex;
  flex: 1;
  align-items: start;
  margin-left: 2.5rem;
}

nav .nav-item {
  cursor: pointer;
}

.menu-bar {
  width: 2rem;
  display: none;
  z-index: 200;
}
.nav-combined {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .nav-combined {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    position: absolute;
    right: 0;
    top: 10px;
    width: 60%;
    background-color: var(--primary-color);
  }

  .nav-combined.show {
    max-height: 1000px; /* Set to a large value to ensure it fits the content */
    visibility: visible;
    opacity: 1;
  }

  .nav-combined .about__socials,
  .nav-combined .nav-items {
    flex-direction: column;
  }

  .nav-combined .nav-items {
    margin: 13rem 0;
  }

  .nav-combined .nav-items > * {
    margin: 1rem 0;
  }
  .nav-combined .about__socials {
    margin: 3rem;
  }
  .nav-combined .about__socials > * {
    margin: 1rem 0;
  }
  .logo {
    width: 40%;
  }
  .menu-bar {
    display: block;
  }
}

.nav-items .nav-item {
  margin-right: 3rem;
}

.menu-bar img {
  width: 100%;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown img {
  width: 8%;
  margin-left: 0.2rem;
}
nav ul li {
  color: var(--primary-font-color);
  text-decoration: none;
  list-style: none;
}

.about__socials {
  display: flex;
  align-items: center;
}

.about__socials p {
  margin-right: 2rem;
}
.about__socials .socials {
  display: flex;
  align-items: center;
}
.social-container {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #dae1ef;
  padding: 0.5rem;
}

.social-container img {
  width: 100%;
}

.social-container {
  margin-right: 1rem;
}
