.widget {
  position: relative;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 500px;
  /* width: 85vw; */
  max-width: 950px;
}
@media (min-width: 900px) {
  .widget {
    width: 75vw;
  }
}

.tabs {
  width: 90%;
  margin-inline: auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  border-bottom: 1px solid #e9ebec;
  flex-wrap: wrap;
}

.tab {
  white-space: nowrap;
  flex: 1;
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #b2b2b6;
  z-index: 1; /* Ensure tabs are above the indicator */
}

/* Removed the active::after pseudo-element and added a new active-indicator div */
.tab.active {
  color: var(--body-font-color);
}

.active-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--body-font-color);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 425px) {
  .active-indicator {
    background-color: transparent;
  }
}

/* Adjust the width of the indicator based on the number of tabs */
.active-indicator {
  width: 33.33%;
}

/* Apply transform to move the indicator based on the active tab */
.tab.active:nth-child(1) ~ .active-indicator {
  transform: translateX(0%);
}

.tab.active:nth-child(2) ~ .active-indicator {
  transform: translateX(100%);
}

.tab.active:nth-child(3) ~ .active-indicator {
  transform: translateX(200%);
}

.tab-content {
  padding: 1rem;
}

.tab-pane {
  display: none;
  opacity: 0;
}
.tab-pane h2 {
  font-size: clamp(16px, 1vw, 35px);
  margin-top: 3rem;
}

.tab-pane.testimonials h2 {
  font-size: clamp(16px, 1.5vw, 35px);
}
.tab-pane.fade-in {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.what-you-learn {
  position: relative;
  border-radius: 3px;
  /* border: 1px solid red; */
  height: 70px;
  padding: 1rem;
  margin-top: 10px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  box-shadow: inset 0 2px 5px 0 rgba(96, 96, 96, 0.3);
}

.what-you-learn.show {
  height: unset;
}

@media (min-width: 800px) {
  .what-you-learn {
    width: 80%;
    height: 80px;
  }
}
.checklist {
  display: flex;
  align-items: top;
  gap: 0.5rem;
}
.show-more-action {
  padding: 0.3rem 1.3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #2984e4;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.show-more-action:active {
  transform: scale(0.8);
  background-color: rgba(0, 0, 0, 0.05);
}

.show-more-action h4 {
  cursor: pointer;
  font-weight: 500;
  font-size: clamp(14px, 0.8vw, 25px);
}

.skills,
.jobs {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 500px) {
  .skills,
  .jobs {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* .what-you-learn, */

.item-container {
  padding: .8rem;
  border-radius: 6px;
  white-space: nowrap;
  background-color: rgba(96, 96, 96, 0.1);
}

.item-container p{
  font-size: clamp(10px, 16px, 25px);
}