:root {
  --primary-color: #002255;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  width: 2000px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
