.blog__section {
  margin: 2.5rem 0;
  font-size: clamp(25px, 2vw, 80px);
  color: var(--body-font-color);
}
.blog__section h1 {
  text-align: center;
}
.blog__content {
  /* border: 1px solid red; */
  width: 90%;
  margin: 3rem 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .blog__content {
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .blog__content {
    width: 75%;
  }
}
.blog-card {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  max-width: 400px;
  box-shadow: 2px 3px 5px 5px rgba(96, 96, 96, 0.4);
}
.blog-details__section {
  padding: 1rem;
}
.blog-details__section h5 {
  color: var(--body-font-color);
  margin-bottom: 0.5rem;
  font-size: clamp(10px, 1rem, 70px);
  transition: text-decoration 0.4s ease-in;
}
.blog-details__section h5:hover {
  text-decoration: underline;
}
.post-img img {
  width: 100%;
  border-top-right-radius: 4px;

  border-top-left-radius: 4px;
  object-fit: contain;
}


.blog-time-stamp,
.blog-author__details {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.blog-time-stamp p,
.blog-author__details p {
  font-size: 0.8rem;
  color: var(--medium-gray);
}

.blog-time-stamp img,
.blog-author__details img {
  width: 8%;
  margin-right: 0.5rem;
}
